.venv
**/__pycache__/**
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.env
*.venv
*.DS_Store
*.idea/
*.vscode/
*.pytest_cache/
*.coverage
*.mypy_cache/
*.hypothesis/
*.tox/
*.dist-info/
*.egg
*.zip
*.tar.gz
*.log
*.swp
*.bak
*.orig
*.tmp
*.pid
dist/
build/
*/__pycache__/**